html{
	background-color:rgb(100,200,150);
}
body{
	background-color:rgb(200,255,240);
	width: 90vw;
	max-width: 1024px;
	margin: auto;
	padding: 20px;
}
h1{
	color:rgb(255,255,255);
	background-color:rgb(75,150,120);
	padding: 10px;
}
h2{
	color:rgb(255,255,255);
	background-color:rgb(90,170,150);
	padding: 10px;
}
h3{
	color:rgb(255,255,255);
	background-color:rgb(90,170,150);
	padding: 5px;
}
h4{
	color:rgb(255,255,255);
	background-color:rgb(90,170,150);
}
p{
	background-color:rgb(170,240,220);
	color:rgb(0,0,255);
	padding: 10px;
}
